
The following programming code examples will be used as a guide in this experiment.

This programming language is case sensitive so 'Cat' and 'cat' are not the same.

The pipe “%>%” symbol is used to send values from one method or variable to another. The order does matter and begins with the table name that is going to be referenced. Here is two example code fragments the first finds the minimum row value from the column variable 'weight' from the table 'cat'. In the second example the minimum height is found for each group of the column 'species' from the table 'cats'

<span class="code">cats%>%summarize(min(weight))</span>

<span class="code">cats%>%group_by(species)%>%summarize(min(height))</span>

The summary method is needed to call one of the common descriptive statistical functions. Here are some examples of those functions. 
The mean method finds the mean of all row elements of a single column variable.
The sd method finds the standard deviation of all row elements of a single column variable.
The sum method finds the sum of all row elements of a single column variable

<h3>Instructions helpful for Tasks 4-6</h3>
Here is an example code that finds the minimum row value from the column variable 'weight' from the table 'cat'. The summary method is used to call the function min.

<span class="code">cats%>%summarize(min(weight))</span>

<h3>Instructions helpful for Task 7</h3>
The filter method creates a sub table of values that satisfies the given function. Here is an example the filter method that creates a sub-table from all the row values from the table 'mtcars' column name 'mpg' that has a value of greater than 30.

<span class="code">gasGuzzlers<-mtcars%>%filter(mpg>30)</span>

<h3>Instructions helpful for Task 8-10</h3>
The if_else(a,b,c) method has the form 'if a is true then do b else do c'. Here is an example of the statement 'if myNumber is less than 3, x=4, else x= 10'

<span class="code">if_else(myNumber < 3, 4, 10)</span>

The method mutate() performs the passed function on each row value and the assigns it to the new column variable name.  The order in which it is written determines the table that these variables come from. Here is an example of code that calculates the column variables 'length' times 'width' then places that value in a new column variable named 'area' in the table 'rectangle'.

<span class="code">rectangle%>%mutate(area=length*width)</span>