
<p>The following programming code examples will be used as a guide in this experiment.</p>

<p>This programming language is case sensitive so 'Cat' and 'cat' are not the same.</p>


<p>Here is a code example of a method called 'min' that finds the minimum value of the 'myList' table and assigns the minimum value to 'YourAnswerIs'. The summarize method is needed to call one of the common descriptive statistical functions. Here are some examples of those functions. In the following experiment you only need to write the methods, the assignment has been written in the tasks for you.</p>

<p><span class="code">YourAnswerIs=cats%>%summarize(min(myList))</span></p>

<p>Other similar methods used in this experiment:
The mean method finds the mean of all row elements of a single column variable.
The sd method finds the standard deviation of all row elements of a single column variable.
The sum method finds the sum of all row elements of a single column variable</p>

<h3>Instructions helpful for Tasks 1-3</h3>
<p>Some simple task needed for this experiment are creating subtables and creating new column variables. The pipe symbol "%>%" is used connect methods and tables. The example below calcuates the min the column 'eyecolor' in the table 'males'.</p>

<p><span class="code">males%>%summarize(min(eyecolor))</span></p>

<h3>Instructions helpful for Tasks 4-6</h3>
<p>Here is an example code that uses the group_by method to find the minimum row value from the column variable 'weight' from the table 'cat'. The summary method is used to call the function min.</p>

<p><span class="code">cats%>%group_by(species)%>%summarize(min(height))</span></p>

<h3>Instructions helpful for Task 7</h3>
<p>The filter method creates a sub table of values that satisfies the given function. Here is an example the filter method that creates a sub-table from all the row values from the table 'mtcars' column name 'mpg' that has a value of greater than 30.</p>

<p><span class="code">gasGuzzlers<-mtcars%>%filter(mpg>30)</span></p>

<h3>Instructions helpful for Task 8-10</h3>
<p>The if_else(a,b,c) method has the form 'if a is true then do b else do c'. Here is an example of the statement 'if myNumber is less than 3, x=4, else x= 10'</p>

<p><span class="code">numberTable%>%mutate(if_else(myNumber < 3, 4, 10))</span></p>

<p>The method mutate() performs the passed function on each row value and the assigns it to the new column variable name.  The order in which it is written determines the table that these variables come from. Here is an example of code that calculates the column variables 'length' times 'width' then places that value in a new column variable named 'area' in the table 'rectangle'.</p>

<p><span class="code">rectangle%>%mutate(area=length*width)</span></p>